<p style="color: green"><%= notice %></p>

<%= render @suite %>

<div>
  <%= link_to "Edit this suite", edit_suite_path(@suite) %> |
  <%= link_to "Back to suites", suites_path %>

  <%= button_to "Destroy this suite", @suite, method: :delete %>
</div>
