<%= form_with model: assignment, url: run_assignments_path(run) do |form| %>
  <div>
    <%= form.label :email, style: "display: block" %>
    <%= form.email_field :email -%>
  </div>

  <%= model_errors assignment -%>

  <%= render ButtonComponent.new(type: 'submit').with_content 'Assign' -%>
<% end -%>
