<%= render PageComponent.new do |c| -%>
  <% c.header { @assignment.run.title } -%>

  <% c.sub_header do -%>
    <p class="text-base text-gray-400">Assigned to: <%= @assignment.email -%></p>
  <% end -%>

  <div class="mt-10 pl-4">
    <p class="text-lg text-gray-300">Please the assigned test cases and steps and mark each step as either "Pass" or "Fail"</p>

    <ol class="list-outside list-decimal space-y-10 max-w-screen-md">
      <% @cases.each do |test_case| -%>
        <%= render OrderedCaseComponent.new(run: @run, test_case: test_case) do |c| -%>
          <% c.status do -%>
            <%= turbo_frame_tag dom_id(test_case, :status) do -%>
              <% @assignment.case_status(test_case).tap do |case_status| -%>
                <%= render BadgeComponent.new(color: assignment_case_status_badge_color(case_status)).with_content case_status.to_s.upcase -%>
              <% end -%>
            <% end -%>
          <% end -%>

          <%= turbo_frame_tag dom_id(test_case, :steps) do -%>
            <div class="flex justify-end">
              <%= link_to assignment_case_steps_path(@assignment.token, test_case) do -%>
                <%= render ButtonComponent.new(color: :clear, size: :xsmall) do -%>
                  <span class="mr-2">Show Test Steps</span>
                  <%= inline_svg_tag 'icons/hero/chevron_down.svg', class: 'w-4 h-4' -%>
                <% end -%>
              <% end -%>
            </div>
          <% end -%>
        <% end -%>
      <% end -%>
    </ol>
  </div>
<% end -%>
