<div class="space-y-12">
  <div class="space-y-6">
    <h2 class="text-xl">Case Details</h2>
    <dl class="sm:divide-y sm:divide-gray-200 max-w-screen-sm">
      <div class="py-4 sm:grid sm:grid-cols-3 sm:gap-4 sm:py-5">
        <dt class="text-sm font-medium text-gray-300">Description</dt>
        <dd class="mt-1 text-sm text-white sm:col-span-2 sm:mt-0"><%= test_case.description || tag.span(class: 'text-rose-200') { 'None Provided' } -%></dd>
      </div>
      <div class="py-4 sm:grid sm:grid-cols-3 sm:gap-4 sm:py-5">
        <dt class="text-sm font-medium text-gray-300">Acceptance Criteria</dt>
        <dd class="mt-1 text-sm text-white sm:col-span-2 sm:mt-0"><%= test_case.acceptance_criteria -%></dd>
      </div>
    </div>
  </div>

  <div class="space-y-6">
    <h2 class="text-xl">Steps</h2>
    <div class="pl-4">
      <ol id="<%= dom_id test_case, :steps -%>" class="list-outside list-decimal space-y-3 max-w-screen-md">
        <% ordered_steps.each do |step| -%>
          <%= render 'case_steps/builder_item', test_case: test_case, step: step -%>
        <% end -%>

        <li class="pl-2" id="<%= dom_id test_case, :last_li -%>">
          <div data-controller="case-step-builder">
            <div class="relative form-invert">
              <%= turbo_frame_tag dom_id(test_case, :builder) do -%>
                <%= render 'case_steps/form', test_case: test_case -%>
              <% end -%>
            </div>
          </div>
        </li>
      </ol>
    </div>
  </div>
</div>
