<%= form_with(model: test_case, url: [project, suite, test_case], data: { turbo: false }) do |form| %>
  <%= model_errors test_case -%>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>

  <div class="field">
    <%= form.label :acceptance_criteria %>
    <%= form.text_area :acceptance_criteria %>
  </div>

  <div class="actions">
    <%= render ButtonComponent.new(type: 'submit').with_content 'Save Case' -%>
  </div>
<% end %>
