<div id="<%= dom_id project %>">
  <p class="text-lg font-semibold"><%= project.title %></p>
  <p class="text-base text-gray-100"><%= truncate project.description %></p>

  <div class="text-sm text-gray-100 flex justify-between items-center flex-1 mt-4">
    <span>Steps: <%= project.steps_count -%></span>
    <span>Suites: <%= project.suites_count -%></span>
  </div>
</div>
