<%= render PageComponent.new do |c| -%>
  <% c.header { "#{@project.title} Suites" } -%>

  <% c.sub_header do -%>
    <div class="mt-2">
      <%= link_to new_project_suite_path(@project) do -%>
        <%= render ButtonComponent.new(size: :large).with_content 'New Suite'-%>
      <% end -%>
    </div>
  <% end -%>

  <% c.action do -%>
    <%= link_to projects_path do %>
      <%= render ButtonComponent.new(color: :clear).with_content 'Back' -%>
    <% end -%>
  <% end -%>

  <% c.action do -%>
    <%= link_to edit_project_path(@project) do %>
      <%= render ButtonComponent.new.with_content 'Edit' -%>
    <% end -%>
  <% end -%>

  <% c.action do -%>
    <%= form_with model: @project, method: :delete, data: { turbo_confirm: 'Are you sure?' }, class: 'inline' do -%>
      <%= render ButtonComponent.new(type: 'submit', color: :danger).with_content 'Delete' -%>
    <% end -%>
  <% end -%>

  <% render GridComponent.new(id: 'projects') do |gc| -%>
    <% @suites.each do |suite| %>
      <% gc.item do -%>
        <% link_to [@project, suite] do -%>
          <%= render suite -%>
        <% end -%>
      <% end -%>
    <% end -%>
  <% end -%>
<% end -%>
