<%= form_with(model: run) do |form| %>
  <% if run.new_record? -%>
    <div>
      <%= form.label :project_id, style: "display: block" %>
      <%= form.select :project_id, @projects.map { |p| [ p.title, p.id ] } %>
    </div>
  <% end -%>

  <div>
    <%= form.label :title, style: "display: block" %>
    <%= form.text_field :title %>
  </div>

  <div>
    <%= form.label :description, style: "display: block" %>
    <%= form.text_area :description %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
