<%= render PageComponent.new do |c| -%>
  <% c.header { @run.title } -%>

  <% c.sub_header do -%>
    <div class="mt-2">
      <%= link_to new_run_assignment_path(@run) do -%>
        <%= render ButtonComponent.new.with_content 'Assign' -%>
      <% end -%>
    </div>
  <% end -%>

  <% c.action do -%>
    <%= link_to runs_path do %>
      <%= render ButtonComponent.new(color: :clear).with_content 'Back' -%>
    <% end -%>
  <% end -%>

  <% c.action do -%>
    <%= link_to edit_run_path(@run) do %>
      <%= render ButtonComponent.new(color: :clear).with_content 'Edit' -%>
    <% end -%>
  <% end -%>

  <% c.action do -%>
    <%= form_with model: @run, url: @run, method: :delete, data: { turbo_confirm: 'Are you sure?' }, class: 'inline' do -%>
      <%= render ButtonComponent.new(type: 'submit', color: :danger).with_content 'Delete' -%>
    <% end -%>
  <% end -%>

  <%= render 'builder', run: @run, ordered_cases: @ordered_cases -%>
<% end -%>
