<!DOCTYPE html>
<html class="h-full min-h-full">
  <head>
    <title>TestCaseBay</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', 'data-turbo-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbo-track': 'reload' %>
  </head>

  <body class="h-full min-h-full bg-zinc-800 text-white">
    <%= render 'shared/nav' -%>

    <div class="max-w-screen-md mx-auto space-y-2">
      <% if flash.key? :notice -%>
        <%= render AlertComponent.new(type: :notice).with_content notice -%>
      <% end -%>

      <% if flash.key? :alert -%>
        <%= render AlertComponent.new(type: :alert).with_content alert -%>
      <% end -%>
    </div>

    <%= yield %>

    <div class="opacity-0 h-16"></div> <!-- spacer -->
  </body>
</html>
